<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00</td>        <!-- time    -->
        <td>R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:15</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:30</td>        <!-- time    -->
        <td>R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>Noon</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>1:00</td>        <!-- time    -->
        <td>R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>2:15</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>2:30</td>        <!-- time    -->
        <td>R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
    </table>
  </div>
</div>
